{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    zenith_capital Financiamento
{% endblock %}

{% block head %}    
<link rel="stylesheet" type="text/css" href="{% static 'css/' %}">
{% endblock %}

{% block content %}
<div class="px-20 py-2">
    <div class="py-3 pt-3 px-2 bg-gray-50 dark:bg-gray-800 shadow-lg rounded">
        <form method="post">
            {% csrf_token %}
            <div>   
                {{form.valor_contratado.label_tag}}
                {{form.valor_contratado}}
            </div>
            <div>   
                {{form.qtd_parcelas.label_tag}}
                {{form.qtd_parcelas}}
            </div>
            <div>   
                {{form.data_primeiro_vencimento.label_tag}}
                {{form.data_primeiro_vencimento}}
            </div>
            <div>   
                {{form.taxa_juros.label_tag}}
                {{form.taxa_juros}}
            </div>
            <div>   
                {{form.valor_parcela.label_tag}}
                {{form.valor_parcela}}
            </div>
            <div>   
                {{form.valor_total_pago.label_tag}}
                {{form.valor_total_pago}}
            </div>
        </form>
        
    </div>
</div>
<script>
    const valor_contratado = document.getElementById('id_valor_contratado');
    const qtd_parcelas = document.getElementById('id_qtd_parcelas');
    const data_primeiro_vencimento = document.getElementById('id_data_primeiro_vencimento');
    const taxa_juros = document.getElementById('id_taxa_juros');
    const valor_parcela = document.getElementById('id_valor_parcela');
    const valor_total_pago = document.getElementById('id_valor_total_pago');
    taxa_juros.value = 12;

    function calcular(){
        const valor_contratado_value = valor_contratado.value;
        const qtd_parcelas_value = qtd_parcelas.value;
        const data_primeiro_vencimento_value = data_primeiro_vencimento.value;
        let taxa_juros_value = taxa_juros.value;
        
        if (qtd_parcelas_value > 60 && qtd_parcelas_value <= 120){
            taxa_juros_value = 20;
        }
        else if (qtd_parcelas_value == 120){
            taxa_juros_value = 25;
        }
        else if (qtd_parcelas_value == 240){
            taxa_juros_value = 30;
        }
        else if (qtd_parcelas_value == 300){
            taxa_juros_value = 33;
        }
        else if (qtd_parcelas_value == 360){
            taxa_juros_value = 40;
        }

        const valor_juros = (valor_contratado_value * taxa_juros_value) / 100;
        const valor_total = parseFloat(valor_contratado_value) + parseFloat(valor_juros);
        const valor_parcela_calculado = valor_total / qtd_parcelas_value;
        valor_parcela.value = valor_parcela_calculado.toFixed(2);
        valor_total_pago.value = valor_total.toFixed(2);

        taxa_juros.value = taxa_juros_value;
    }

    calcular();
    qtd_parcelas.addEventListener('change', calcular);
    valor_contratado.addEventListener('change', calcular);
    data_primeiro_vencimento.addEventListener('change', calcular);

</script>
{% endblock %}