{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    zenith_capital consorcio
{% endblock %}

{% block head %}    

{% endblock %}

{% block content %}
<div class="flex px-20 py-4 justify-center">
    <div class="py-3 px-2 bg-gray-50 dark:bg-gray-800 shadow-lg rounded" style="width:50%;">
        <div class="flex">
            <div class="w-10/12">
                <h1 class="text-2xl font-bold">Contratar Consorcio</h1>
            </div>
            <div class="w-2/12">
                <a href="{% url 'produto:consorcios_conta' numero_conta=numero %}">
                    <button class="bg-purple-900 hover:bg-purple-950 text-white text-[16px] rounded-lg px-3 py-2 text-center inline-flex items-center">
                        Voltar
                    </button>
                </a>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="flex pt-5 justify-center">
                <div class="px-3">
                    <div>   
                        {{form.valor_contratado.label_tag}}
                        {{form.valor_contratado}}
                    </div>
                    <div>   
                        {{form.qtd_parcelas.label_tag}}
                        {{form.qtd_parcelas}}
                    </div>
                    <div>   
                        {{form.data_primeiro_vencimento.label_tag}}
                        {{form.data_primeiro_vencimento}}
                    </div>
                </div>
                <div class="px-3">
                    <div>   
                        {{form.taxa_juros.label_tag}}
                        {{form.taxa_juros}}
                    </div>
                    <div>   
                        {{form.valor_parcela.label_tag}}
                        {{form.valor_parcela}}
                    </div>
                    <div>   
                        {{form.valor_total_pago.label_tag}}
                        {{form.valor_total_pago}}
                    </div>
                </div>
            </div>
            <div class="flex justify-center pt-4">
                <button type="submit" class="bg-purple-900 hover:bg-purple-950 text-white text-[16px] rounded-lg px-3 py-2 text-center inline-flex items-center">
                    Solicitar
                </button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'js/concessao/juros.js' %}"></script>
{% endblock %}