/*Login*/
#login {
    overflow: hidden;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
  }
  
  #login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    height: 70%;
    width: 40%;
    min-width: 400px;
  }
  
  #login-main input {
    padding: 1.5vh 6vw;
    border-color: #80d78d;
    border-radius: 20px;
    align-items: start;
    justify-items: start;
  }
  
  #login img {
    width: 100%;
  }
  
  #loginsup {
    color: #0080CB;
    font-size: 2.4rem;
    margin: 6vh auto ;
  }
  
  #usuario {
    padding: 25px;
  }
  
  .button_login {
    cursor: pointer;
    margin-top: 10vh;
    background-color: #2090d2;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 1vh 4vw;
    font-size: 1.4rem;
  }
  
  @media screen and (max-height: 750px)  {

    #login-main {
        height: 60%;
        width: 30%;
    }

    #loginsup{
        margin: 3vh auto;
        font-size: 2rem;
    }

    #login .button_login {
        margin-top: 5vh;
    }
}

@media screen and (max-height: 600px)  {

    #login-main {
        height: 50%;
        width: 20%;
    }

    #loginsup{
        margin: 2vh auto;
        font-size: 1.4rem;
    }

    #login .button_login {
        margin-top: 2vh;
    }
}

@media screen and (max-height: 590px)  {

  #login-main {
      height: 70%;
  }
  #login .button_login {
    margin-top: 10vh;
}
} 
@media screen and (max-height: 490px)  {

  #login-main {
      height: 80%;
  }
  #login .button_login {
    margin-top: 6vh;
}
}