{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    zenith_capital
{% endblock %}

{% block head %}    
<link rel="stylesheet" type="text/css" href="{% static 'css/' %}">
{% endblock %}

{% block content %}
<div>
    <p>escolha sua conta</p>
    <div>
        <a href="{% url 'conta_bancaria:criar_conta_corrente' %}">
            <button>conta corrente</button>
        </a>
    </div>
    <div>
        <a href="{% url 'conta_bancaria:criar_conta_salario' %}">
            <button>conta salario</button>
        </a>
    </div>
    <div>
        <a href="{% url 'conta_bancaria:criar_conta_poupanca' %}">
            <button>conta poupança</button>
        </a>
    </div>    
</div>
{% endblock %}conta salario