{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    zenith_capital
{% endblock %}

{% block head %}    
<link rel="stylesheet" type="text/css" href="{% static 'css/' %}">
{% endblock %}

{% block content %}
<div>
    <p>lista dos produtos disponiveis e contratados</p>
    <p>numero: {{ numero }}</p>
    <p>agencia: {{ agencia }}</p>
    <p>tipo: {{ tipo_conta }}</p>
    <p>saldo: {{ saldo }}</p>
    <p>limite_especial: {{ limite_especial }}</p>
    <p>cliente: {{ cliente }}</p>
    <p>gerente: {{ gerente }}</p>
    
</div>
{% endblock %}