{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    zenith_capital Gerente
{% endblock %}

{% block head %}    

{% endblock %}

{% block content %}
<div class="flex px-20 py-4 justify-center">
    <div class="py-3 px-2 bg-gray-50 dark:bg-gray-800 shadow-lg rounded" style="width:75%;">
        <div class="flex">
            <div class="w-8/12">
                <h1 class="text-2xl font-bold">Produtos Para Aprovar</h1>
            </div>
        </div>
        <div class="pt-5">
            <ul class="list-group" id="lista_emprestimos">
                {% for concessao in concessoes %}
                    <li class="list-group-item">
                        <div class="flex justify-between">
                            <div class="w-6/12">
                                <div class="px-2 py-1">
                                    <p>Cliente</p>
                                    <div class="form-control">
                                        {{ concessao.12.2 }}
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <p>Renda</p>
                                    <div class="form-control">
                                        {{ concessao.12.7 }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-6/12">
                                <div class="px-2 py-1">
                                    <p>Tipo de Conta</p>
                                    <div class="form-control">
                                        {{ concessao.13.1 }}
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <p>Saldo</p>
                                    <div class="form-control">
                                        {{ concessao.13.3 }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-6/12">
                                <p class="flex px-2 py-1">Produtos ja contratados</p>
                                <div class="flex px-2 py-1">
                                    {% for produtos in concessao.14 %}
                                        <div class="w-full px-2 py-1">
                                            <p>{{produtos.0}}</p>
                                            <div class="form-control">
                                                {{ produtos.1 }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between">
                            <div class="w-5/12">
                                <div class="px-2 py-1">
                                    <p>valor contratado</p>
                                    <div class="form-control">
                                        {{ concessao.1 }}
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <p>Primeira Parcela</p>
                                    <div class="form-control">
                                        {{ concessao.2 }}
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <p>Total de Parcelas</p>
                                    <div class="form-control">
                                        {{ concessao.3 }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-5/12">
                                <div class="px-2 py-1">
                                    <p>Juros</p>
                                    <div class="form-control">
                                        {{ concessao.4 }}
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <p>Valor Parcela</p>
                                    <div class="form-control">
                                        {{ concessao.5 }}
                                    </div>
                                </div>
                                <div class="px-2 py-1">
                                    <p>Valor Total</p>
                                    <div class="form-control">
                                        {{ concessao.6 }}
                                    </div>
                                </div>
                            </div>
                            <div class="w-2/12">
                                {% if concessao.7 == 'Em Analise' %}
                                    <div class="px-2 py-1">
                                        <p>Status</p>
                                        <div class="form-control bg-amber-400">
                                            {{ concessao.7 }}
                                        </div>
                                    </div>
                                    <div class="px-2 py-1 flex justify-center">
                                        <a href="{% url 'gerente:aprovar_concessao' concessao_id=concessao.0 decisao=1 %}">
                                            <button class="bg-green-600 hover:bg-green-700 text-white text-[16px] rounded-lg px-3 py-2 text-center inline-flex items-center">
                                                Aprovar
                                            </button>
                                        </a>
                                    </div>
                                    <div class="px-2 py-1 flex justify-center">
                                        <a href="{% url 'gerente:aprovar_concessao' concessao_id=concessao.0 decisao=0 %}">
                                            <button class="bg-red-600 hover:bg-red-700 text-white text-[16px] rounded-lg px-3 py-2 text-center inline-flex items-center">
                                                Reprovar
                                            </button>
                                        </a>
                                    </div>
                                {% elif concessao.7 == 'Aprovado' %}
                                    <div class="px-2 py-1">
                                        <p>Status</p>
                                        <div class="form-control bg-green-500">
                                            {{ concessao.7 }}
                                        </div>
                                    </div>
                                {% elif concessao.7 == 'Reprovado' %}
                                    <div class="px-2 py-1">
                                        <p>Status</p>
                                        <div class="form-control bg-red-600">
                                            {{ concessao.7 }}
                                        </div>
                                    </div>
                                {% endif %} 
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if error %}
                {% for message in messages %}
                    <div class="text-red-500 font-bold">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}