{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    Zenith Capital Cadastro
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/login.css' %}">
{% endblock %}

{% block content %}
<div class="px-3 py-3">
    <div class="conteiner px-3 py-3 justify-content-center bg-gray-50 dark:bg-gray-800 shadow-lg w-100  rounded-lg">
        <form method="post">
            {% csrf_token %}
            <div class="flex py-3">
                <div class="w-full mx-4">
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                    
                </div>
                <div class="w-full mx-4">
                    {{ form.cpf.label_tag }}
                    {{ form.cpf }}
                </div>
                <div class="w-full mx-4">
                    {{ form.telefone.label_tag }}
                    {{ form.telefone }}
                </div>

            </div>
            <div class="flex py-3">
                <div class="w-full mx-4">
                    {{ form.renda_mensal.label_tag }}
                    {{ form.renda_mensal }}
                    
                </div>
                <div class="w-full mx-4">
                    {{ form.data_nascimento.label_tag }}
                    {{ form.data_nascimento }}
                    
                </div>
                <div class="w-full mx-4">
                    {{ form.nacionalidade.label_tag }}
                    {{ form.nacionalidade }}
                </div>
                <div class="w-full mx-4">
                    {{ form.estado_civil.label_tag }}
                    {{ form.estado_civil }}
                </div>

            </div>
            <div class="flex py-3">
                <div class="w-5/12 mx-4">
                    {{ form.logradouro.label_tag }}
                    {{ form.logradouro }}
                </div>
                <div class="w-1/12 mx-4">
                    {{ form.numero.label_tag }}
                    {{ form.numero }}
                </div>
                <div class="w-5/12 mx-4">
                    {{ form.complemento.label_tag }}
                    {{ form.complemento }}
                    
                </div>

            </div>
            <div class="flex py-3">
                <div class="w-3/12 mx-4">
                    {{ form.bairro.label_tag }}
                    {{ form.bairro }}
                </div>
                <div class="w-3/12 mx-4">
                    {{ form.cidade.label_tag }}
                    {{ form.cidade }}
                </div>
                <div class="w-1/12 mx-4">
                    {{ form.estado.label_tag }}
                    {{ form.estado }}
                </div>
                <div class="w-3/12 mx-4">
                    {{ form.cep.label_tag }}
                    {{ form.cep }}
                </div>
        
            </div>
            <div class="text-center">
                <button class= "bg-yellow-200 p-2 my-4 rounded-lg " type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}