{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    Zenith Capital Cadastro
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/login.css' %}">
{% endblock %}

{% block content %}
<div class="container justify-content-center w-25 bg-blue-200 rounded-lg my-40 py-7 px-10">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="text-center">
            <button class= "bg-green-300 p-2 my-4 rounded-lg " type="submit">Cadastrar</button>
          </div>
    </form>
</div>
{% endblock %}