{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    Zenith Capital Criar Conta
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/login.css' %}">
{% endblock %}

{% block content %}
<div class="container justify-content-center w-25 bg-blue-200 rounded-lg my-40 py-7">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Email</label>
            {{ form.email }}
            <label>Senha</label>
            {{ form.password }}
            <label>Confirmar Senha</label>
            {{ form.confirm_password }}
            
            {% for error in form.errors %}
                
                <small class="form-text text-danger">o valor preenchido no campo {{ error }} é invalido</small>
            {% endfor %}
        </div>
        {% if erro %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ erro }}</strong>
            </div>
        {% endif %}
        <div class="text-center">
            <button class= "bg-green-300 p-2 my-4 rounded-lg " type="submit">Criar Conta</button>
        </div>
    </form>
</div>
{% endblock %}