{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    zenith_capital
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/login.css' %}">
{% endblock %}

{% block content %}

<div class="container justify-content-center w-25 bg-blue-50 rounded-lg py-7">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
          <div class="form-group">
              <!-- form de login -->
              {% if field.label == "Usuário" %}
                  <label for="{{ field.id_for_label }}">Email</label>
              {% else %}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% endif %}
              {{ field }}
              {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                  <small class="form-text text-danger">{{ error }}</small>
              {% endfor %}
          </div>
      {% endfor %}
      <div class="text-center">
      <button class= "bg-blue-50 m-2" type="submit">Entrar</button>
    </div>
  </form>
  </div>
</div>
{% endblock %}
