{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    zenith_capital
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/login.css' %}">
{% endblock %}

{% block content %}
<div class="container bg-gray-50 dark:bg-gray-800 shadow-lg rounded justify-content-center w-25 my-20 py-7">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <!-- form de login -->
                {% if field.label == "Usuário" %}
                    <label for="{{ field.id_for_label }}">Email</label>
                {% else %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
            </div>
            {% if field.error %}
                    <small class="form-text text-danger">{{ error }}</small>
            {% endif %}
        {% endfor %}
        
        <div class="text-center">
            <button class= "bg-green-300 p-2 my-4 rounded-lg " type="submit">Entrar</button>
        </div>
    </form>
</div>
{% endblock %}
